name: Deploy to FTP

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via lftp
        run: |
          sudo apt-get install -y lftp
          lftp -c "
            set ftp:ssl-allow no;
            open -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_SERVER }};
            mirror -R --delete --exclude .git/ --exclude node_modules/ --exclude '*.ps1' --exclude '*.md' --exclude 'tmpclaude-*' --exclude docs/ ./ /home/ulfao306/thetech.space/;
            quit;
          "
